// Place all the styles related to the Letters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-letters{
	display: none;
}

.bottom-letters{
	display: none;
}

#letter_inventory{
	height: 100px;
	width: 300px;
	background-color: white;
	opacity: 0.9;
}

.top-header, .bottom-header{
	height: 300px;
	width: 250px;
	padding-top: 100px;
	display: inline-block;
	background-color: #230617;
	opacity: 0.9;
	margin-left: 60px;
	color: #D9BFBF;
	font-size: 40px;
	text-align: center;
	float: left;
	&:hover{
		cursor: pointer;
	}
}